<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Movie Recommender</h1>
        <form action="/recommend" method="post" class="index-form">
            <label for="movie_name">Enter a movie name:</label>
            <input type="text" id="movie_name" name="movie_name" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
